<mat-card>
  <mat-card-content>
    <mat-card-title>
      @if (currentNote.id) {
        <span>
          Editing {{ originalTitle | titlecase }}
        </span>
      } @else {
        Select Note
      }
    </mat-card-title>
    <form #form="ngForm" (ngSubmit)="saved.emit(currentNote)">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Enter a title"
          [(ngModel)]="currentNote.title"
          type="input"
          name="title"
          required="true"
          />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Enter a last name"
          [(ngModel)]="currentNote.content"
          type="input"
          name="lastname"
          required="true"
          />
      </mat-form-field>

      <mat-card-actions>
        <button
          [disabled]="form.invalid"
          type="submit"
          mat-button
          color="primary"
          >
          Save
        </button>
        <button type="button" mat-button (click)="cancelled.emit()">
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
