<mat-card>
  <mat-card-content>
    <mat-card-title>
      Notes
    </mat-card-title>
    <mat-list>
      <mat-list-item *ngFor="let note of notes" class="mat-list-option" (click)="selected.emit(note)">
        <span matLine>{{ note.title }}</span>
        <button *ngIf="!readonly" mat-icon-button matListItemMeta
          (click)="deleted.emit(note); $event.stopImmediatePropagation()"
          type="button" color="warn">
          <mat-icon>clear</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
