services:
  ingress:
    image: app-ingress
    environment:
      - "AUTH_URL=http://users:3500"
  transformation:
    image: app-transformation
    environment:
      - "AUTH_URL=http://users:3500"
      - "INGRESS_API_URL=http://ingress:3500"
  reporting:
    image: app-reporting
    environment:
      - "AUTH_URL=http://users:3500"
      - "TRANSFORMATION_API_URL=http://transformation:3500"
  export:
    image: app-export
    environment:
      - "AUTH_URL=http://users:3500"
      - "REPORTING_API_URL=http://reporting:3500"
  users:
    image: app-users
    environment:
      - "AUTH_URL=http://users:3500"
  features:
    image: app-features
    environment:
      - "AUTH_URL=http://users:3500"
  gateway:
    image: envoyproxy/envoy:tools-v1.29-latest
    volumes:
      - ./envoy.yaml:/etc/envoy/envoy.yaml
    ports:
      - "9000:9000"
