<mat-card>
  <mat-card-content>
    <mat-card-title>
      Challenges
    </mat-card-title>
    <mat-list>
      @for (challenge of challenges; track challenge) {
        <mat-list-item class="mat-list-option" (click)="selected.emit(challenge)">
          <span matLine>{{ challenge.title }}</span>
          @if (!readonly) {
            <button mat-icon-button matListItemMeta
              (click)="deleted.emit(challenge); $event.stopImmediatePropagation()"
              type="button" color="warn">
              <mat-icon>clear</mat-icon>
            </button>
          }
        </mat-list-item>
      }
    </mat-list>
  </mat-card-content>
</mat-card>
