<section class="text-white">
  <div class="container mx-auto py-4 flex justify-between items-center">
    <a routerLink="/" class="text-6xl font-black">DASHBOARD</a>
    <nav>
      <ul class="inline-flex">
        <li>
          <button routerLink="/"
            class="bg-transparent border hover:border-transparent hover:bg-white hover:text-black font-bold py-2 w-40">
            Home
          </button>
        </li>
        <li *ngFor="let feature of features$ | async">
          <button routerLink="{{feature.slug}}"
            class="bg-transparent border hover:border-transparent hover:bg-white hover:text-black font-bold py-2 w-40">
            {{feature.slug | titlecase}}
          </button>
        </li>
      </ul>
    </nav>
  </div>
</section>

<section class="py-20">
  <router-outlet></router-outlet>
</section>

<footer class="p-16 py-10 bg-white mt-auto">
  <div class="grid grid-cols-2">
    <div class="text-4xl font-black px-4 md:px-8 md:pb-3">ENTERPRISEY APPS</div>
  </div>
</footer>
