<mat-card>
  <mat-card-content>
    <mat-card-title>
      @if (currentFeature.id) {
        <span>
          Editing {{ originalTitle | titlecase }}
        </span>
      } @else {
        Select Feature
      }
    </mat-card-title>
    <form #form="ngForm" (ngSubmit)="saved.emit(currentFeature)">
      <mat-form-field class="full-width">
        <mat-label>Title</mat-label>
        <input
          matInput
          placeholder="Enter a title"
          [(ngModel)]="currentFeature.title"
          type="text"
          name="title"
          required="true" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <input
          matInput
          placeholder="Enter a description"
          [(ngModel)]="currentFeature.description"
          type="text"
          name="description" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Remote URI</mat-label>
        <input
          matInput
          placeholder="Enter the remote URI"
          [(ngModel)]="currentFeature.remote_uri"
          type="text"
          name="remote_uri" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>API URI</mat-label>
        <input
          matInput
          placeholder="Enter the API URI"
          [(ngModel)]="currentFeature.api_uri"
          type="text"
          name="api_uri" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Slug</mat-label>
        <input
          matInput
          placeholder="Enter a slug"
          [(ngModel)]="currentFeature.slug"
          type="text"
          name="slug" />
      </mat-form-field>
      <div class="full-width">
        <mat-checkbox
          [(ngModel)]="currentFeature.healthy"
          class="checkbox-margin"
        name="healthy">Healthy</mat-checkbox>
      </div>

      <mat-card-actions>
        <button
          [disabled]="form.invalid"
          type="submit"
          mat-button
          color="primary">
          Save
        </button>
        <button type="button" mat-button (click)="cancelled.emit()">
          Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
