<div class="grid grid-cols-2 gap-4">
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title data-test="reference-title">Reference Template</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Your base keyword is... </mat-label>
            <input
              #keyword
              matInput
              name="baseKeyword"
              type="text"
              value="{{ baseKeyword }}"
            />
            <button
              *ngIf="keyword.value"
              matSuffix
              mat-icon-button
              aria-label="update"
              (click)="generateBaseTemplate(keyword.value); generateTemplates()"
            >
              <mat-icon>update</mat-icon>
            </button>
          </mat-form-field>
        </form>

        <ngx-codemirror
          [(ngModel)]="refTemplate"
          name="refTemplate"
          [options]="editorOptions"
          #refTemplateEditor="ngModel"
        >
        </ngx-codemirror>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Base Template</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <pre>
      <code
        [highlight]="baseTemplate"
        [languages]="['typescript']"
        (highlighted)="onHighlight($event)"
        [lineNumbers]="true"
      ></code>
    </pre>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- SECOND COLUMN-->
  <div>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Domain Models</mat-card-title>
        <mat-card-subtitle>List your domain models</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="example-form" appearance="fill">
          <mat-chip-grid #chipGrid aria-label="Enter a model">
            <mat-chip-row
              *ngFor="let schema of schemas"
              (removed)="remove(schema)"
              [editable]="true"
              (edited)="edit(schema, $event)"
            >
              {{ schema.model }}
              <button matChipRemove [attr.aria-label]="'remove ' + schema">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input
              placeholder="New model..."
              [matChipInputFor]="chipGrid"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="add($event)"
            />
          </mat-chip-grid>
        </mat-form-field>
        <!-- TABLE -->
        <table mat-table [dataSource]="schemas" class="mat-elevation-z8">
          <!-- Model Column -->
          <ng-container matColumnDef="model">
            <th mat-header-cell *matHeaderCellDef>Model</th>
            <td mat-cell *matCellDef="let schema">
              {{ schema.model }}
            </td>
          </ng-container>

          <!-- Model Plural Column -->
          <ng-container matColumnDef="modelPlural">
            <th mat-header-cell *matHeaderCellDef>Model Plural</th>
            <td mat-cell *matCellDef="let schema">
              {{ schema.modelPlural }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <!-- <pre>{{ schemas | json }}</pre> -->
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Generated Templates</mat-card-title>
      </mat-card-header>
      <mat-card-content class="space-y-2">
        <pre *ngFor="let template of templates" class="flex flex-col gap-2">
          <button mat-raised-button color="primary" [cdkCopyToClipboard]="template">Copy</button>
          <code
            [highlight]="template"
            [languages]="['typescript']"
            (highlighted)="onHighlight($event)"
            [lineNumbers]="true"
          ></code>
        </pre>
      </mat-card-content>
    </mat-card>
  </div>
</div>
