<section class="p-16 mb-16 text-white">
  <div class="inline-flex">
    <button class="bg-white text-black hover:bg-black hover:text-white font-bold py-2 w-60">
      LOREM
    </button>
    <button class="bg-transparent border hover:border-transparent hover:bg-white hover:text-black font-bold py-2 w-60">
      IPSUM
    </button>
  </div>

  <div class="mt-5 border-t-2 border-l-2 p-8">
    <div class="grid grid-cols-12 border-b-2 pb-5">
      <div class="col-span-4 flex flex-col justify-between">
        <div class="text-2xl">LO<span class="font-black">REM</span></div>
        <div class="text-8xl font-black">HERO 1</div>
        <div>
          <div class="text-2xl font-bold">Mar 11-13</div>
          <div>Lorem Ipsum Dolor</div>
        </div>
      </div>

      <div class="col-span-7">
        <img src="../../assets/product-school-cd7i9vYIyeY-unsplash.jpg" />
      </div>
    </div>
  </div>
</section>

<section class="p-16 mb-16 text-white">
  <div class="mt-5 p-8">
    <div class="grid grid-cols-12 gap-4 pb-5">
      <div class="col-span-5">
        <div class="text-9xl font-black">HERO 2</div>
          <div class="text-2xl my-10 font-bold">Lorem Ipsum dolor sit amet.</div>
          <div class="font-bold pr-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
          <div class="font-bold pt-5 pr-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        <button class="bg-transparent border hover:border-transparent hover:bg-white hover:text-black font-black text-4xl p-3 mt-12">
          SUBSCRIBE NOW
        </button>
      </div>

      <div class="col-span-5">
        <img src="../../assets/product-school-nOvIa_x_tfo-unsplash.jpg" />
      </div>
    </div>
  </div>
</section>

<section class="p-16 mb-16 text-white">
  <div class="grid grid-cols-2 gap-4">
    <div class="border-t-2 border-l-2 p-10 flex flex-col">
      <div class="flex justify-center mb-10">
        <img class="w-full max-w-xl" src="../../assets/product-school-cd7i9vYIyeY-unsplash.jpg" />
      </div>
      <div class="text-6xl font-black md:pb-3">LOREM IPSUM</div>
      <div class="text-2xl my-10 font-bold">Lorem Ipsum dolor sit amet.</div>
      <div class="font-bold pr-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      <button class="bg-transparent border hover:border-transparent hover:bg-white hover:text-black font-black text-4xl p-3 mt-16 w-6/12">
        BUY NOW
      </button>
    </div>

    <div class="border-t-2 border-l-2 p-10 flex flex-col">
      <div class="flex justify-center mb-10">
        <img class="w-full max-w-xl" src="../../assets/product-school-nOvIa_x_tfo-unsplash.jpg" />
      </div>
      <div class="text-6xl font-black md:pb-3">LOREM IPSUM</div>
      <div class="text-2xl my-10 font-bold">Lorem Ipsum dolor sit amet.</div>
      <div class="font-bold pr-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      <button class="bg-transparent border hover:border-transparent hover:bg-white hover:text-black font-black text-4xl p-3 mt-16 w-6/12">
        BUY NOW
      </button>
    </div>

    <div class="border-t-2 border-l-2 p-10 flex flex-col">
      <div class="flex justify-center mb-10">
        <img class="w-full max-w-xl" src="../../assets/product-school-cd7i9vYIyeY-unsplash.jpg" />
      </div>
      <div class="text-6xl font-black md:pb-3">LOREM IPSUM</div>
      <div class="text-2xl my-10 font-bold">Lorem Ipsum dolor sit amet.</div>
      <div class="font-bold pr-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      <button class="bg-transparent border hover:border-transparent hover:bg-white hover:text-black font-black text-4xl p-3 mt-16 w-6/12">
        BUY NOW
      </button>
    </div>

    <div class="border-t-2 border-l-2 p-10 flex flex-col">
      <div class="flex justify-center mb-10">
        <img class="w-full max-w-xl" src="../../assets/product-school-nOvIa_x_tfo-unsplash.jpg" />
      </div>
      <div class="text-6xl font-black md:pb-3">LOREM IPSUM</div>
      <div class="text-2xl my-10 font-bold">Lorem Ipsum dolor sit amet.</div>
      <div class="font-bold pr-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
      <button class="bg-transparent border hover:border-transparent hover:bg-white hover:text-black font-black text-4xl p-3 mt-16 w-6/12">
        BUY NOW
      </button>
    </div>
  </div>
</section>

<section class="p-16 mb-16 text-white">
  <div class="grid grid-cols-3 gap-4">
    <div class="border-t-2 border-l-2 p-10 flex flex-col">
      <div class="text-6xl font-black md:pb-3">LOREM IPSUM</div>
      <div class="text-2xl my-10 font-bold">Lorem Ipsum dolor sit amet.</div>
      <div class="font-bold pr-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      <ul class="pl-5 list-disc font-medium">
        <li class="py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
        <li class="py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
        <li class="py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
        <li class="py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
      </ul>
      <button class="bg-transparent border hover:border-transparent hover:bg-white hover:text-black font-black text-4xl p-3 mt-16 w-6/12">
        BUY NOW
      </button>
    </div>

    <div class="border-t-2 border-l-2 p-10 flex flex-col">
      <div class="text-6xl font-black md:pb-3">LOREM IPSUM</div>
      <div class="text-2xl my-10 font-bold">Lorem Ipsum dolor sit amet.</div>
      <div class="font-bold pr-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      <ul class="pl-5 list-disc font-medium">
        <li class="py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
        <li class="py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
        <li class="py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
        <li class="py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
      </ul>
      <button class="bg-transparent border hover:border-transparent hover:bg-white hover:text-black font-black text-4xl p-3 mt-16 w-6/12">
        BUY NOW
      </button>
    </div>

    <div class="border-t-2 border-l-2 p-10 flex flex-col">
      <div class="text-6xl font-black md:pb-3">LOREM IPSUM</div>
      <div class="text-2xl my-10 font-bold">Lorem Ipsum dolor sit amet.</div>
      <div class="font-bold pr-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
      <ul class="pl-5 list-disc font-medium">
        <li class="py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
        <li class="py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
        <li class="py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
        <li class="py-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</li>
      </ul>
      <button class="bg-transparent border hover:border-transparent hover:bg-white hover:text-black font-black text-4xl p-3 mt-16 w-6/12">
        BUY NOW
      </button>
    </div>
  </div>
</section>

<section class="p-16 mb-16 text-white">
  <div class="text-7xl font-black px-4 md:px-8 md:pb-3">VIDEOS: MORE CONTENT</div>
  <div class="grid grid-cols-12 gap-2 px-4 m-3 md:mt-12 md:mr-0 md:flex-row md:pl-0 md:pr-0">
    <div class="col-span-2 flex flex-col justify-between">
      <div>
        <div class="text-4xl"> > </div>
        <div class="text-4xl"> < </div>
      </div>

      <div class="primary-h3 text-[1.875rem] md:text-[3.5rem] leading-[1.875rem] md:leading-[3.5rem]">1/5</div>
    </div>
    <div class="col-span-10">
      <div class="grid grid-cols-5 gap-4 grid-flow-row overflow-hidden">
        @for (item of items; track item.id) {
          <div class="h-full flex flex-col justify-between">
            <div class="bg-white shadow rounded-lg p-10 text-center align-middle h-64"></div>
            <div class=>{{ item.title }}</div>
          </div>
        }
      </div>
    </div>
  </div>
</section>

<section class="p-16 mb-16 text-white">
  <div class="text-7xl font-black px-4 md:px-8 md:pb-3">LATEST NEWS</div>
  <div class="grid grid-cols-12 gap-2 px-4 m-3 md:mt-12 md:mr-0 md:flex-row md:pl-0 md:pr-0">
    <div class="col-span-2 flex flex-col justify-between">
      <div>
        <div class="text-4xl"> > </div>
        <div class="text-4xl"> < </div>
      </div>

      <div class="primary-h3 text-[1.875rem] md:text-[3.5rem] leading-[1.875rem] md:leading-[3.5rem]">1/5</div>
    </div>
    <div class="col-span-10">
      <div class="grid grid-cols-5 gap-4 grid-flow-row overflow-hidden">
        @for (item of items; track item.id) {
          <div class="h-full flex flex-col justify-between">
            <div class="bg-white shadow rounded-lg p-10 text-center align-middle h-64"></div>
            <div>{{ item.title }}</div>
          </div>
        }
      </div>
    </div>
  </div>
</section>


<footer class="p-16 py-10 bg-white">
  <div class="grid grid-cols-2">
    <div class="text-7xl font-black px-4 md:px-8 md:pb-3">LOREM IPSUM</div>
    <div class="p-4">
      <div class="text-2xl font-bold">Mar 08-10</div>
      <p>Lorem ipsum dolor sit  - Lorem, Ipsum</p>
    </div>
  </div>
  <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700">
  <div class="grid grid-cols-2">
    <div></div>
    <div class="p-4 flex">
      <button class="mx-5 ml-0" mat-flat-button>Where to Watch ></button>
      <button class="mx-5" mat-flat-button>Buy Now ></button>
    </div>
  </div>
</footer>
