<div cdkDropList (cdkDropListDropped)="drop($event)">
  @for (step of steps; track step.id) {
    <div cdkDrag class="flex items-center p-3 mb-2 rounded border border-gray-200 bg-white cursor-move">
      <mat-icon cdkDragHandle class="mr-3 text-gray-400 cursor-grab">drag_indicator</mat-icon>
      <mat-icon class="mr-3" [color]="'primary'">{{ getStepIcon(step.type) }}</mat-icon>
      <div class="flex-1">
        <div class="font-medium">{{ step.type | titlecase }}</div>
        <div class="text-sm text-gray-500">Order: {{ step.order }}</div>
      </div>
      <button mat-icon-button (click)="editStep.emit(step)" matTooltip="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteStep.emit(step)" matTooltip="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  } @empty {
    <p class="text-gray-500 text-center py-4">No steps configured. Add a step to begin.</p>
  }
</div>
